<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgjev.weibus.dao.json.PriceJsonMapper" >
  <resultMap id="BaseResultMap" type="com.wgjev.weibus.entity.json.PriceJson" >
    <id column="PriceID" property="priceID" jdbcType="INTEGER" />
    <result column="PriceVersion" property="priceVersion" jdbcType="INTEGER" />
    <result column="PriceName" property="priceName" jdbcType="VARCHAR" />
    
    <result column="DetailName" property="carModelName" jdbcType="INTEGER" />
    <result column="HourPrice" property="hourPrice" jdbcType="DECIMAL" />
    <result column="StartPrice" property="startPrice" jdbcType="DECIMAL" />
    <result column="FreeTime" property="freeTime" jdbcType="INTEGER" />
    <result column="DayPrice" property="dayPrice" jdbcType="DECIMAL" />
    <result column="NightPrice" property="nightPrice" jdbcType="DECIMAL" />
    <result column="WeekPrice" property="weekPrice" jdbcType="DECIMAL" />
    <result column="HourMileage" property="hourMileage" jdbcType="DECIMAL" />
    <result column="DayMileage" property="dayMileage" jdbcType="DECIMAL" />
    <result column="NightMileage" property="nightMileage" jdbcType="DECIMAL" />
    <result column="WeekMileage" property="weekMileage" jdbcType="DECIMAL" />
    <result column="SuperPrice" property="superPrice" jdbcType="DECIMAL" />
    <result column="StartCharge" property="startCharge" jdbcType="INTEGER" />
    <result column="DayBeginTime" property="dayBeginTime" jdbcType="VARCHAR" />
    <result column="DayEndTime" property="dayEndTime" jdbcType="VARCHAR" />
    
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CreateMan" property="createMan" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="CompanyID" property="companyID" jdbcType="INTEGER" />
    <result column="CompanyName" property="companyName" jdbcType="VARCHAR" />
    
  </resultMap>
   <!-- 显示某公司的价格表 -->
  <select id="loadAllPriceByCompanyID" resultMap="BaseResultMap" parameterType="integer" >
    SELECT 
		p.PriceID,p.PriceVersion,p.PriceName,cm.DetailName,p.HourPrice,p.StartPrice,p.FreeTime,p.DayPrice,
		p.NightPrice,p.WeekPrice,p.HourMileage,p.DayMileage,p.NightMileage,p.WeekMileage,p.SuperPrice,p.StartCharge,
		p.DayBeginTime,p.DayEndTime,p.CreateTime,p.CreateMan,p.`Status`,p.CompanyID,co.ShortName
	FROM t_finance_price p
	LEFT JOIN t_info_modeldetail cm ON cm.ModelDetailID=p.CarModel
	LEFT JOIN t_info_company co ON co.CompanyID=p.CompanyID
	WHERE p.`Status` in(1,2) and p.CompanyID=#{companyID}
  </select>
  
  <!-- 显示所有价格表 -->
  <select id="loadAllPrice" resultMap="BaseResultMap" >
    SELECT 
		p.PriceID,concat('v'+p.PriceVersion+'.0',p.PriceName,cm.DetailName,p.HourPrice,p.StartPrice,p.FreeTime,p.DayPrice,
		p.NightPrice,p.WeekPrice,p.HourMileage,p.DayMileage,p.NightMileage,p.WeekMileage,p.SuperPrice,p.StartCharge,
		p.DayBeginTime,p.DayEndTime,p.CreateTime,p.CreateMan,p.`Status`,p.CompanyID,co.ShortName
	FROM t_finance_price p
	LEFT JOIN t_info_modeldetail cm ON cm.ModelDetailID=p.CarModel
	LEFT JOIN t_info_company co ON co.CompanyID=p.CompanyID
	WHERE p.`Status` in(1,2)
  </select>
  
  <!-- 查看价格表详情 -->
  <select id="findPriceByPriceID" resultMap="BaseResultMap" parameterType="integer">
    SELECT 
		p.PriceID,p.PriceVersion,p.PriceName,cm.DetailName,p.HourPrice,p.StartPrice,p.FreeTime,p.DayPrice,
		p.NightPrice,p.WeekPrice,p.HourMileage,p.DayMileage,p.NightMileage,p.WeekMileage,p.SuperPrice,p.StartCharge,
		p.DayBeginTime,p.DayEndTime,p.CreateTime,p.CreateMan,p.`Status`,p.CompanyID,co.ShortName
	FROM t_finance_price p
	LEFT JOIN t_info_modeldetail cm ON cm.ModelDetailID=p.CarModel
	LEFT JOIN t_info_company co ON co.CompanyID=p.CompanyID
	WHERE p.PriceID=#{priceID}
  </select>
  
  
</mapper>